body{
    background-color: rgba(0, 119, 255, 0.517);
}
.profile-search i{
    margin-right: 15px;
    

}


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
}
.footer-col h5{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 300;
}
.footer-col h5::before{
	content: '';

	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 12px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffff;
	display: block;
	transition: all 0.3s ease;
    font-family: Source Sans Pro, sans-serif;
    line-height: 15px;
}
.footer-col ul li a:hover{
	color: #59bd1b;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}